@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  /* background-color: #000; */
  /* overflow-x: hidden; */
  padding-bottom: 250px;
}

h1 {
  font-size: 26px;
  font-weight: 100;
  margin: 20px 0 15px 0;
  text-align: center;
  color: #fff;
}

.carousel-container {
  padding: 10px 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%;
  margin: auto;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  /* padding: 0 10px; */
  object-fit: cover;
  object-position: center;
}



/* responsive  */

